body{
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}

.deets,
.quote,
.total {
    display: flex;
   
}
.email{
    width: 600px;
    margin: auto;
    background-color: blueviolet;
    border: 3px, solid, gray;
}
.header{
    /* background-color: blueviolet; */
    margin: 0%;
}
.deets .deets_right{
    padding: auto;
}
